.tournament
	.tournament-inner
		.tournament-time
			.tournament-time__till-the-end До конца турнира
			.tournament-timer 
				.tournament-timer__couple 
					.tournament-timer__count.icon 0
					.tournament-timer__count.icon 9
					.tournament-timer__text Часов
				.tournament-timer__divider
					span 
					span
				.tournament-timer__couple
					.tournament-timer__count.icon 3
					.tournament-timer__count.icon 4
					.tournament-timer__text Минут
				.tournament-timer__divider
					span 
					span
				.tournament-timer__couple
					.tournament-timer__count.icon 5
					.tournament-timer__count.icon 1
					.tournament-timer__text Секунд
		.tournament-prize
			.tournament-prize__title Призовой фонд
			.tournament-prize__subtitle Используй ум прибыльно
			.tournament-prize__text 
				span.tournament-prize__value 200 000
				span.svg-token