.tournament
	.tournament-inner
		.tournament-time
			.tournament-time__till-the-end До конца турнира
			.tournament-timer 
				.tournament-timer__couple 
					.tournament-timer__couple-row
						.tournament-timer__count.icon-timer
							span#hours-first 0
						.tournament-timer__count.icon-timer
							span#hours-second 9
					.tournament-timer__text Часов
				.tournament-timer__divider
					span 
					span
				.tournament-timer__couple
					.tournament-timer__couple-row
						.tournament-timer__count.icon-timer
							span#minutes-first 3
						.tournament-timer__count.icon-timer
							span#minutes-second 4
					.tournament-timer__text Минут
				.tournament-timer__divider
					span 
					span
				.tournament-timer__couple
					.tournament-timer__couple-row
						.tournament-timer__count.icon-timer
							span#seconds-first 5
						.tournament-timer__count.icon-timer
							span#seconds-second 1
					.tournament-timer__text Секунд
		.tournament-prize
			.tournament-prize__title Призовой фонд
			.tournament-prize__subtitle Используй ум прибыльно
			.tournament-prize__text 
				span.tournament-prize__value 200 000
				span.svg-token