extends ../layout/layout.pug
block vars
	- var title = 'Главная';
block sidebar
	include ../includes/sidebar.pug
//- block header
//- 	include ../includes/header.pug
block content
	include ../includes/content-main.pug
block footer
	include ../includes/footer.pug