.statistics 
	.statistics-info 
		.statistics-info__icon.icon.icon_reward
			span.icon__img
		.statistics-info__desc 
			.statistics-info__name Моя награда
			.statistics-info__value 6 000 W
	.statistics-info 
		.statistics-info__icon.icon.icon_medal
			span.icon__img
		.statistics-info__desc 
			.statistics-info__name Мое место
			.statistics-info__value 7 
	.statistics-info 
		.statistics-info__icon.icon.icon_timer
			span.icon__img
		.statistics-info__desc 
			.statistics-info__name Мое время
			.statistics-info__value 01:54:12
	.statistics-info 
		.statistics-info__icon.icon.icon_online
			span.icon__img
		.statistics-info__desc 
			.statistics-info__name Сейчас онлайн
			.statistics-info__value 12 000