.statistics 
	.statistics-info 
		.statistics-info__icon.icon
			img(src="./img/icon-reward.png" alt="")
		.statistics-info__desc 
			.statistics-info__name Моя награда
			.statistics-info__value 6 000 W
	.statistics-info 
		.statistics-info__icon.icon
			img(src="./img/icon-medal.png" alt="")
		.statistics-info__desc 
			.statistics-info__name Мое место
			.statistics-info__value 7 
	.statistics-info 
		.statistics-info__icon.icon
			img(src="./img/icon-timer.png" alt="")
		.statistics-info__desc 
			.statistics-info__name Мое время
			.statistics-info__value 01:54:12
	.statistics-info 
		.statistics-info__icon.icon
			img(src="./img/icon-online.png" alt="")
		.statistics-info__desc 
			.statistics-info__name Сейчас онлайн
			.statistics-info__value 12 000