.two-buttons 
	.two-buttons__inner
		button.btn.btn-rating.btn-rights
			span.btn-rating__light
				<svg class="btn-rating__light_desktop" width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="Group 48099565"><path id="Vector 275" d="M2.00293 10.5C2.00306 3.32393 1.50293 2 13.003 2" stroke="#E7EEF7" stroke-width="3" stroke-linecap="round"/><path id="Vector 276" d="M19 2H23" stroke="#E7EEF7" stroke-width="3" stroke-linecap="round"/></g></svg>
				<svg  class="btn-rating__light_mobile" width="28" height="13" viewBox="0 0 28 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.01302 11.5003C1.84636 8.00035 3.21224 2.00016 10.0122 2.00016C19.5132 1.99998 6.16661 2 17 2" stroke="#FDFEFF" stroke-width="3" stroke-linecap="round"/><path d="M22 2.00007C31.5009 1.99989 15.1549 2.00011 25.9883 2.00011" stroke="#FDFEFF" stroke-width="3" stroke-linecap="round"/></svg>
			span.btn-rating__text
				.icon.icon_evaluation
					span.icon__img
				| Рейтинг
		
		button.btn.btn-rules.active.btn-rights
			span.btn-rules__light
				<svg class="btn-rules__light_desktop" width="45" height="12" viewBox="0 0 45 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.10156 10C7.60156 1.5 7.95765 2.10306 20.4998 2.10306" stroke="#E7EEF7" stroke-width="3" stroke-linecap="round"/><path d="M27.5 2.10156H43" stroke="#E7EEF7" stroke-width="3" stroke-linecap="round"/></svg>
				<svg class="btn-rules__light_mobile" width="45" height="12" viewBox="0 0 45 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.10156 10C7.60156 1.5 7.95765 2.10306 20.4998 2.10306" stroke="#FDFEFF" stroke-width="3" stroke-linecap="round"/><path d="M27.5 2.10156H43" stroke="#FDFEFF" stroke-width="3" stroke-linecap="round"/></svg>

			span.btn-rules__text
				.icon.icon_rules
					span.icon__img
				| Правила
	.two-buttons__title Укажите меньшее число
	.two-buttons__text 
		p Необходимо определить, какое число меньше и нажать на кнопку с правильным ответом: «левое», «правое» или «равны». По мере прохождения Вам будут продемонстрированы арифметические выражения. 
		p Вам необходимо сравнить их и указать, какое число меньше

