.two-buttons 
	.two-buttons__inner
		button.btn.btn-left
			.icon.icon_rating
			| Рейтинг
		button.btn.btn-right
			.icon.icon_rules
			| Правила
	.two-buttons__title Укажите меньшее число
	.two-buttons__text 
		p Необходимо определить, какое число меньше и нажать на кнопку с правильным ответом: «левое», «правое» или «равны». По мере прохождения Вам будут продемонстрированы арифметические выражения. 
		p Вам необходимо сравнить их и указать, какое число меньше