main.main
	//- .container
	//- .main__columns
	.main__column
		include ../includes/header.pug
		include ./components/tournament/tournament.pug

		include ./components/game/game.pug

		include ./components/statistics/statistics.pug

	include ./components/two-buttons/two-buttons.pug

