footer.footer 
	.footer__container
		.footer__copyright © 2023, «Winnner». Все права защищены
		ul.footer__menu 
			li 
				a(href="") Правила игры
			li 
				a(href="") Информация о игре
			li 
				a(href="") О нас