header.header
	.header__container
		include ./components/logo/logo.pug
		.header__title Мой баланс:
		.header-wallet
			.header-wallet__icon 
				.icon.icon_wallet
					span.icon__img
			.header-wallet__text
				.header-wallet__title Мой кошелек
				.header-wallet__desc
					span.header-wallet__value 100
					span.svg-token
						+svg('token')
		.header-tokens
			.header-tokens__icon
				.icon.icon_tokens
					span.icon__img
			.header-tokens__desc
				.header-tokens__title Мои жетоны
				.header-tokens__text
					span.header-tokens__value 400
					//- button.btn.btn-plus.header-tokens__plus
					button.btn.header-tokens__plus
						include ../../img/add.svg
						//- span.gradient
							//- +svg('plus')
					button.btn.header-tokens__question
						img(src="./img/question.png" alt="")
						//- +svg('question')
						//- include ../../img/question.svg
		button.btn.btn-blue 
			span.gradient 
				span Пополнить жетоны
		button.btn.btn-hamburger
			span.btn-hamburger__gradient 
				span.btn-hamburger__inner
					span.btn-hamburger__icon
						span.btn-hamburger__line1
						span.btn-hamburger__line2
						span.btn-hamburger__line3



			
