header.header
	.header__container.container
		a.header__logo(href="/")
			+svg('logo')
		.header-wallet
			.header-wallet__title Мой кошелек
			.header-wallet__desc
				span.header-wallet__value 950
				span.svg-token
					+svg('token')
		.header-tokens
			.header-tokens__title Мои жетоны
			.header-tokens__desc
				span.header-tokens__value 400
				span.header-tokens__plus
				span.header-tokens__question
		button.header-btn-hamburger



			
