header.header
	.header__container
		include ./components/logo/logo.pug
		.header__title Мой баланс:
		.header-wallet
			.header-wallet__icon 
				.icon.icon_wallet
					span
			.header-wallet__text
				.header-wallet__title Мой кошелек
				.header-wallet__desc
					span.header-wallet__value 950
					span.svg-token
						+svg('token')
		.header-tokens
			.header-tokens__icon
				.icon.icon_tokens
					span
			.header-tokens__desc
				.header-tokens__title Мои жетоны
				.header-tokens__text
					span.header-tokens__value 400
					button.btn.btn-plus.header-tokens__plus
						span.gradient
							+svg('plus')
					button.btn.header-tokens__question
						+svg('question')
		button.btn.btn-blue 
			span.gradient 
				span Пополнить жетоны
		button.header-btn-hamburger



			
