aside.sidebar 
	//- .sidebar__container
	<svg class="svg"><clipPath id="sidebar-bg" clipPathUnits="objectBoundingBox"><path d="M0,0.017 C0,0.007,0.08,0,0.178,0 H0.822 C0.92,0,1,0.007,1,0.017 V0.092 C1,0.094,0.987,0.095,0.971,0.095 C0.959,0.095,0.949,0.095,0.941,0.094 C0.93,0.093,0.913,0.092,0.895,0.092 C0.861,0.092,0.833,0.094,0.833,0.097 C0.833,0.101,0.861,0.103,0.895,0.103 C0.913,0.103,0.93,0.102,0.941,0.101 C0.949,0.1,0.959,0.1,0.971,0.1 C0.987,0.1,1,0.101,1,0.102 V0.895 C1,0.897,0.987,0.898,0.971,0.898 C0.959,0.898,0.949,0.897,0.941,0.896 C0.93,0.895,0.913,0.894,0.895,0.894 C0.861,0.894,0.833,0.897,0.833,0.9 C0.833,0.903,0.861,0.906,0.895,0.906 C0.913,0.906,0.93,0.905,0.941,0.904 C0.949,0.903,0.959,0.902,0.971,0.902 C0.987,0.902,1,0.903,1,0.905 V0.983 C1,0.993,0.92,1,0.822,1 H0.178 C0.08,1,0,0.993,0,0.983 V0.905 C0,0.903,0.013,0.902,0.029,0.902 C0.041,0.902,0.051,0.903,0.059,0.904 C0.07,0.905,0.087,0.906,0.105,0.906 C0.139,0.906,0.167,0.903,0.167,0.9 C0.167,0.897,0.139,0.894,0.105,0.894 C0.087,0.894,0.07,0.895,0.059,0.896 C0.051,0.897,0.041,0.898,0.029,0.898 C0.013,0.898,0,0.897,0,0.895 V0.102 C0,0.101,0.013,0.1,0.029,0.1 C0.041,0.1,0.051,0.1,0.059,0.101 C0.07,0.102,0.087,0.103,0.105,0.103 C0.139,0.103,0.167,0.101,0.167,0.097 C0.167,0.094,0.139,0.092,0.105,0.092 C0.087,0.092,0.07,0.093,0.059,0.094 C0.051,0.095,0.041,0.095,0.029,0.095 C0.013,0.095,0,0.094,0,0.092 V0.017"></path></clipPath></svg>

	include ./components/logo/logo.pug
	.sidebar__buttons 
		button.icon.icon_reward()
			span 
		button.icon.icon_evaluation()
			span
		button.icon.icon_wallet()
			span 
		button.icon.icon_flag()
			span 
		button.icon.icon_dumbbell()
			span 
		button.icon.icon_coins()
			span 
		button.icon.icon_info()
			span 
	.sidebar__themes 
		.sidebar__themes-inner
			button.icon-theme.icon-theme_light.active()
				span 
			button.icon-theme.icon-theme_dark()
				span
	.sidebar__logout 
		button.icon.icon_logout()
			span
	