aside.sidebar 
	//- .sidebar__container
	<svg class="sidebar__light" width="52" height="26" viewBox="0 0 52 26" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="Group 48099268"><path id="Vector 258" d="M2 18L2 24" stroke="#FDFEFF" stroke-width="3" stroke-linecap="round"/><path id="Vector 255" d="M2.01316 12C1.84478 8.31589 3.22466 2.00009 10.0943 2.00009C19.6926 1.99989 39.0556 2 50 2" stroke="#FDFEFF" stroke-width="3" stroke-linecap="round"/></g></svg>

	include ./components/logo/logo.pug
	.sidebar__buttons 
		button.icon.icon_reward()
			span.tooltip Награды
			span.icon__img
		button.icon.icon_evaluation()
			span.tooltip Награды
			span.icon__img
		button.icon.icon_wallet()
			span.tooltip Награды
			span.icon__img
		button.icon.icon_flag()
			span.tooltip Награды
			span.icon__img
		button.icon.icon_dumbbell()
			span.tooltip Награды
			span.icon__img
		button.icon.icon_coins()
			span.tooltip Награды
			span.icon__img
		button.icon.icon_info()
			span.tooltip Награды
			span.icon__img
	.sidebar__themes 
		.sidebar__themes-inner
			button.icon-theme.icon-theme_light.active()
				span 
			button.icon-theme.icon-theme_dark()
				span
	.sidebar__logout 
		button.icon.icon_logout()
			span.icon__img
	