aside.sidebar 
	//- .sidebar__container
	include ./components/logo/logo.pug
	.sidebar__buttons 
		button.icon.icon_reward()
		button.icon.icon_evaluation()
		button.icon.icon_wallet()
		button.icon.icon_flag()
		button.icon.icon_dumbbell()
		button.icon.icon_coins()
		button.icon.icon_info()
	.sidebar__themes 
		button.btn-icon.icon-light-theme()
		button.btn-icon.icon-dark-theme()
	.sidebar__logout 
		button.icon.icon_logout()
	