*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
  // background: url(../img/bg-mobile.jpg) center no-repeat;
  background-image: url(../img/bg-desktop.jpg);
  background-size: cover;
  // @media screen and (min-width: $breakpoint-mobile) {
  //   background-image: url(../img/bg-desktop.jpg);
  // }
}
body {
  overflow-x: hidden;
  height: 100%;
  font-family: $font;
  color: $color-text;
  font-size: get-vw-mobile(14px);
  line-height: 1.3;
  font-weight: 400;
  @media screen and (max-width: $breakpoint-mobile) {
    background: url(../img/bg-mobile-lines.png) top left repeat;
  }
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

:active,
:focus {
  outline: none !important;
}
::-moz-focus-inner {
  border: 0 !important;
}
button {
  border: none;
  cursor: pointer;
}
button:active,
button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}

.page {
  display: grid;
  grid-template-columns: 1fr;
  max-width: calc(100% - get-vw-mobile(32px));
  padding: get-vw-mobile(16px) 0;
  margin: 0 auto;
  height: 100vh;
  align-items: stretch;

  @media screen and (min-width: $breakpoint-mobile) {
    grid-template-columns: get-vw(90px) auto;
    gap: get-vw(40px);
    // max-width: calc(100% - get-vw(120px));
    max-width: get-vw(1426px);
    margin: 0 auto;
    padding: get-vw(30px) get-vw(40px) get-vw(30px) get-vw(40px);
    min-height: 100vh;
    height: 100vh;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: get-vw-mobile(16px);
    // display: flex;
    // flex-direction: column;

    @media screen and (min-width: $breakpoint-mobile) {
      gap: get-vw(32px);
      min-height: calc(100vh - get-vw(60px));
      justify-content: space-between;
    }
  }
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  // &__columns {
  @media screen and (min-width: $breakpoint-mobile) {
    display: grid;
    grid-template-columns: auto get-vw(384px);
    gap: get-vw(32px);
  }
  // }
  &__column {
    display: flex;
    flex-direction: column;
    gap: get-vw-mobile(16px);
    flex: 1;
    @media screen and (min-width: $breakpoint-mobile) {
      // display: flex;
      // flex-direction: column;
      gap: get-vw(16px);
    }
  }
}
