*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
  background: url(../img/bg-mobile.jpg) center no-repeat;
  background-size: cover;
  @media screen and (min-width: $breakpoint-mobile) {
    background-image: url(../img/bg-desktop.jpg);
  }
}
body {
  overflow-x: hidden;
  height: 100%;
  font-family: $font;
  color: $color-text;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  @media screen and (max-width: $breakpoint-mobile) {
    background: url(../img/bg-mobile-lines.png) top left repeat;
  }
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

:active,
:focus {
  outline: none !important;
}
::-moz-focus-inner {
  border: 0 !important;
}
button {
  border: none;
  cursor: pointer;
}

.page {
  display: grid;
  grid-template-columns: 90px auto;
  gap: 40px;
  // max-width: calc(100% - get-vw(120px));
  max-width: 1426px;
  margin: 0 auto;
  padding: 30px 40px 30px 40px;
  min-height: 100vh;
  height: 100vh;

  @media screen and (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
    max-width: calc(100% - 32px);
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 32px;
    min-height: calc(100vh - 60px);
    justify-content: space-between;
    @media screen and (max-width: $breakpoint-mobile) {
      gap: 16px;
    }
  }
}
.main {
  flex: 1;
  // &__columns {
  @media screen and (min-width: $breakpoint-mobile) {
    display: grid;
    grid-template-columns: auto 384px;
    gap: 32px;
  }
  // }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
