.btn {
  display: inline-flex;
  background: none;
  @include tr;
  cursor: pointer;
  white-space: nowrap;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
  &-training {
    width: 185px;
    height: 58px;
    // background: url(../img/btn-training-mobile.svg) left top no-repeat;
    background-size: cover;
    clip-path: path(
      'M1 12C1 5.92487 5.92487 1 12 1H162.378C171.2 1 176.433 10.8646 171.485 18.169L148.454 52.169C146.408 55.1903 142.996 57 139.347 57H12C5.92487 57 1 52.0751 1 46V12Z'
    );
    background: #abeeee;
    font-size: 18px;
    font-weight: 700;
    color: #415868;
    padding-left: 30px;
    @include tr;
    &:before {
      content: '';
      display: block;
    }
    &:active,
    &.active {
      // background-image: url(../img/btn-training-mobile-active.svg);
      background: #abeeee;
    }
    &:disabled {
      opacity: 0.4;
    }
    @media screen and (min-width: $breakpoint-mobile) {
      width: get-vw(185px);
      height: get-vw(60px);
      font-size: get-vw(18px);
      padding-left: get-vw(30px);
      // background-image: url(../img/btn-training-desktop.svg);
      clip-path: path(
        'M1 12C1 5.92487 5.92487 1 12 1H162.799C171.543 1 176.792 10.7101 172.001 18.0259L148.429 54.0258C146.396 57.1297 142.936 59 139.226 59H12C5.92487 59 1 54.0751 1 48V12Z'
      );
      &:hover {
        // background-image: url(../img/btn-training-desktop-hover.svg);
      }
      &:active,
      &.active {
        // background-image: url(../img/btn-training-desktop-active.svg);
        background: #92dbdb;
      }
      &:disabled {
        opacity: 0.4;
      }
    }
  }
  &-start {
    width: 190px;
    height: 58px;
    // background: url(../img/btn-start-mobile.svg) right top no-repeat;
    clip-path: path(
      'M189 45.9999C189 52.075 184.075 56.9999 178 56.9999L22.1454 57C13.4113 57 8.16089 47.3106 12.93 39.9935L35.0908 5.99355C37.1211 2.87848 40.5878 0.999998 44.3061 0.999998L178 1.00001C184.075 1.00001 189 5.92488 189 12L189 45.9999Z'
    );
    background: #b3c3fe;
    margin-left: -27px;
    background-size: cover;
    font-size: 18px;
    font-weight: 700;
    color: #415868;
    justify-content: flex-end;
    padding-right: 57px;
    @include tr;

    &:active,
    &.active {
      // background-image: url(../img/btn-start-mobile-active.svg);
      background: #a2b2eb;
    }
    &:disabled {
      opacity: 0.4;
    }
    @media screen and (min-width: $breakpoint-mobile) {
      width: get-vw(190px);
      height: get-vw(60px);
      margin-left: get-vw(-27px);
      font-size: get-vw(18px);
      padding-right: get-vw(57px);
      // background-image: url(../img/btn-start-desktop.svg);
      clip-path: path(
        'M189 47.9999C189 54.075 184.075 58.9999 178 58.9999L21.744 59C13.0863 59 7.82202 49.4612 12.4372 42.1362L35.1194 6.13618C37.1336 2.93932 40.6477 1 44.4262 1L178 1.00001C184.075 1.00001 189 5.92488 189 12L189 47.9999Z'
      );
      &:hover {
        // background-image: url(../img/btn-start-desktop-hover.svg);
      }
      &:active,
      &.active {
        background: #a2b2eb;
        // background-image: url(../img/btn-start-desktop-active.svg);
      }
      &:disabled {
        opacity: 0.4;
      }
    }
  }

  &-rating {
    // background: url(../img/btn-left-mobile.svg) left top no-repeat;
    background-size: cover;
    height: 58px;
    width: 185px;
    gap: 20px;
    font-size: 16px;
    color: #13265a;
    font-weight: 500;
    padding-left: 10px;
    // background-size: contain;
    clip-path: path(
      'M1 12C1 5.92487 5.92487 1 12 1H162.378C171.2 1 176.433 10.8646 171.485 18.169L148.454 52.169C146.408 55.1903 142.996 57 139.347 57H12C5.92487 57 1 52.0751 1 46V12Z'
    );
    background: #f2f3f7;
    @include tr;
    &:active,
    &.active {
      // background-image: url(../img/btn-left-mobile-active.svg);
      background: #2b69ff;
      color: #fff;
    }
    @media screen and (min-width: $breakpoint-mobile) {
      // background-image: url(../img/btn-left-desktop.png);
      // background-size: contain;
      height: get-vw(58px);
      width: get-vw(185px);
      gap: get-vw(20px);
      font-size: get-vw(16px);
      padding-left: get-vw(10px);
      clip-path: path(
        'M0 12C0 5.37258 5.37258 0 12 0H162.799C172.338 0 178.064 10.5929 172.838 18.5737L149.266 54.5737C147.048 57.9597 143.274 60 139.226 60H12C5.37258 60 0 54.6274 0 48V12Z'
      );
      background: #dee5ee;
      height: get-vw(66px);
      flex-direction: row;
      gap: get-vw(8px);
      padding-left: get-vw(32px);
      .icon {
        background: none;
        width: auto;
        height: auto;
        span {
          background: none;
          &:after {
            display: none;
          }
        }
      }
      &:active,
      &.active {
        // background-image: url(../img/btn-left-desktop-active.png);
        // clip-path: path(
        //   'M0 12C0 5.37258 5.37258 0 12 0H162.799C172.338 0 178.064 10.5929 172.838 18.5737L149.266 54.5737C147.048 57.9597 143.274 60 139.226 60H12C5.37258 60 0 54.6274 0 48V12Z'
        // );
        background: #2b69ff;
        color: #fff;
      }
    }
  }
  &-rules {
    // background: url(../img/btn-right-mobile.svg) right top no-repeat;
    clip-path: path(
      'M189 45.9999C189 52.075 184.075 56.9999 178 56.9999L22.1454 57C13.4113 57 8.16089 47.3106 12.93 39.9935L35.0908 5.99355C37.1211 2.87848 40.5878 1 44.3061 1L178 1.00001C184.075 1.00001 189 5.92488 189 12L189 45.9999Z'
    );
    background: #f2f3f7;
    height: 58px;
    width: 185px;
    gap: 20px;
    font-size: 16px;
    color: #13265a;
    font-weight: 500;
    flex-direction: row-reverse;
    padding-right: 10px;
    margin-left: -27px;
    background-size: contain;
    @include tr;
    &:active,
    &.active {
      // background-image: url(../img/btn-right-mobile-active.svg);
      background: #2b69ff;
      color: #fff;
    }
    @media screen and (min-width: $breakpoint-mobile) {
      // background-image: url(../img/btn-right-desktop.png);
      height: get-vw(58px);
      width: get-vw(185px);
      gap: get-vw(20px);
      font-size: get-vw(16px);
      padding-right: get-vw(10px);
      margin-left: get-vw(-27px);
      clip-path: path(
        'M185 47.9999C185 54.6273 179.627 59.9999 173 59.9999L21.44 60C12.0596 60 6.30617 49.7206 11.2114 41.7249L33.2966 5.72497C35.4788 2.16796 39.3522 2.20038e-06 43.5252 2.57452e-06L173 1.41829e-05C179.627 1.47771e-05 185 5.3726 185 12L185 47.9999Z'
      );
      background: #dee5ee;
      background-size: contain;
      height: get-vw(64px);
      height: get-vw(66px);
      flex-direction: row;
      gap: get-vw(8px);
      padding-left: get-vw(58px);
      .icon {
        background: none;
        width: auto;
        height: auto;
        span {
          background: none;
          &:after {
            display: none;
          }
        }
      }
      &:active,
      &.active {
        // background-image: url(../img/btn-right-desktop-active.png);
        background: #2b69ff;
        color: #fff;
      }
    }
  }
  &-blue {
    width: get-vw(228px);
    height: get-vw(64px);
    flex: none;
    @include tr;
    border-radius: get-vw(8px);
    background: #2153cb;

    .gradient {
      background: linear-gradient(to bottom, #8b9ef4, #4e7af6, #2e6afd);
      transform: translate3d(0px, get-vw(-4px), 0);
      width: 100%;
      height: get-vw(62px);
      padding: get-vw(2px);
      border-radius: get-vw(8px);
      @include tr;
      position: relative;
      &:before {
        content: '';
        width: get-vw(51px);
        height: get-vw(13px);
        background: url(../img/light1.svg) left top no-repeat;
        position: absolute;
        z-index: 3;
        top: get-vw(6px);
        left: get-vw(6px);
      }
      &:after {
        content: '';
        width: get-vw(21px);
        height: get-vw(6px);
        background: url(../img/light2.svg) left top no-repeat;

        position: absolute;
        z-index: 3;
        top: get-vw(6px);
        left: get-vw(73px);
      }

      span {
        font-size: get-vw(16px);
        color: #fff;
        @include flexcc;
        font-weight: 700;
        line-height: 130%;
        width: 100%;
        height: 100%;
        border-radius: get-vw(8px);
        background: $color-primary;
        position: relative;
        &:before {
          content: '';
          width: get-vw(10px);
          height: get-vw(6px);
          background: url(../img/light3.svg) left top no-repeat;
          position: absolute;
          z-index: 3;
          top: get-vw(4px);
          left: get-vw(96px);
        }
      }
    }
    &:hover {
      .gradient {
        transform: translate3d(0px, get-vw(-6px), 0);
      }
    }
    &:active,
    &.active {
      background: $color-primary;
      box-shadow: 0px get-vw(4px) 0px 0px #2153cb;
    }
    &.disabled {
      opacity: 0.4;
    }
    @media screen and (max-width: $breakpoint-mobile) {
      display: none;
    }
  }
  &-plus {
    width: 16px;
    height: 16px;
    position: relative;
    @include tr;
    border-radius: 50%;
    @include flexcc;
    background: #2153cb;
    .gradient {
      width: 16px;
      height: 16px;
      @include flexcc;
      padding: 2px;
      background: linear-gradient(to bottom, #8b9ef4, #4e7af6, #2e6afd);
      border-radius: 50%;
      transform: translate3d(-2px, -2px, 0);
      @include tr;
      svg {
        width: 12px;
        height: 12px;
        background: $color-primary;
        border-radius: 50%;
      }
    }
    &:hover .gradient {
      transform: translate3d(-3px, -3px, 0);
    }
    &.disabled {
      opacity: 0.4;
    }
  }
}
