.svg {
  position: absolute;
  width: 0;
  height: 0;
}
// .clipped {
//   width: get-vw-mobile(185px);
//   height: get-vw-mobile(60px);
//   background-size: cover;
//   clip-path: url(#btn-training);
//   background: #abeeee;
//   @media screen and (min-width: $breakpoint-mobile) {
//     width: get-vw(185px);
//     height: get-vw(60px);
//   }
// }
// .clipped2 {
//   width: get-vw-mobile(181px);
//   height: get-vw-mobile(60px);
//   background-size: cover;
//   clip-path: url(#btn-start);
//   background: #b3c3fe;
//   margin-left: get-vw-mobile(-14px);
//   @media screen and (min-width: $breakpoint-mobile) {
//     width: get-vw(181px);
//     height: get-vw(60px);
//     margin-left: get-vw(-14px);
//   }
// }
.btn {
  display: inline-flex;
  background: none;
  @include tr;
  cursor: pointer;
  white-space: nowrap;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
  &-training {
    width: get-vw-mobile(185px);
    height: get-vw-mobile(60px);
    background-size: cover;
    clip-path: url(#btn-training);
    font-size: get-vw-mobile(18px);
    font-weight: 700;
    color: #415868;
    padding-left: get-vw-mobile(30px);
    @include tr;
    overflow: hidden;
    position: relative;
    background: #abeeee;

    .btn-training__text {
      position: relative;
      z-index: 5;
    }

    &:active,
    &.active {
      background: #92dbdb;
    }
    &:disabled {
      opacity: 0.4;
    }
    @media screen and (min-width: $breakpoint-mobile) {
      width: get-vw(185px);
      height: get-vw(60px);
      font-size: get-vw(18px);
      padding-left: get-vw(30px);
      &:before {
        content: '';
        display: block;
        width: 125px;
        height: 58px;
        background: url(../img/svg-buttons/training-light1.svg) top left
          no-repeat;
        position: absolute;
        left: -100px;
        top: 0px;
        z-index: 7;
        transition: all 1s ease-out;
      }
      &:after {
        content: '';
        display: block;
        width: 125px;
        height: 58px;
        background: url(../img/svg-buttons/training-light2.svg) top left
          no-repeat;
        position: absolute;
        left: -141px;
        top: 0px;
        z-index: 7;
        transition: all 1s ease-out;
      }
      &:hover {
        &:before {
          left: 200px;
        }
        &:after {
          left: 241px;
        }
      }
    }
  }
  &-start {
    width: get-vw-mobile(181px);
    height: get-vw-mobile(60px);
    clip-path: url(#btn-start);
    background: #b3c3fe;
    margin-left: get-vw-mobile(-12px);
    background-size: cover;
    font-size: get-vw-mobile(18px);
    font-weight: 700;
    color: #415868;
    justify-content: flex-end;
    padding-right: get-vw-mobile(57px);
    @include tr;
    position: relative;
    overflow: hidden;

    &:active,
    &.active {
      background: #a2b2eb;
    }
    &:disabled {
      opacity: 0.4;
    }
    .btn-start__text {
      position: relative;
      z-index: 5;
    }

    @media screen and (min-width: $breakpoint-mobile) {
      width: get-vw(190px);
      height: get-vw(60px);
      margin-left: get-vw(-12px);
      font-size: get-vw(18px);
      padding-right: get-vw(57px);
      &:before {
        content: '';
        display: block;
        width: 113px;
        height: 49px;
        background: url(../img/svg-buttons/start-light1.svg) top left no-repeat;
        position: absolute;
        left: -100px;
        top: 0px;
        z-index: 7;
        transition: all 1s ease-out;
      }
      &:after {
        content: '';
        display: block;
        width: 118px;
        height: 60px;
        background: url(../img/svg-buttons/start-light2.svg) top left no-repeat;
        position: absolute;
        left: -126px;
        top: 0px;
        z-index: 7;
        transition: all 1s ease-out;
      }
      &:hover {
        &:before {
          left: 200px;
        }
        &:after {
          left: 241px;
        }
      }

      &:disabled {
        opacity: 0.4;
      }
    }
  }

  &-rating {
    height: get-vw-mobile(58px);
    width: get-vw-mobile(185px);
    gap: get-vw-mobile(20px);
    font-size: get-vw-mobile(16px);
    color: #13265a;
    font-weight: 700;
    padding-left: get-vw-mobile(12px);
    @include tr;
    position: relative;
    &:before {
      content: '';
      display: block;
      height: get-vw-mobile(58px);
      width: get-vw-mobile(185px);
      // clip-path: path(
      //   'M1 12C1 5.92487 5.92487 1 12 1H162.378C171.2 1 176.433 10.8646 171.485 18.169L148.454 52.169C146.408 55.1903 142.996 57 139.347 57H12C5.92487 57 1 52.0751 1 46V12Z'
      // );
      clip-path: url(#btn-rating);
      background: #f2f3f7;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 7;
      @include tr;
      z-index: 2;
    }

    &__text {
      position: relative;
      z-index: 3;
      display: flex;
      align-items: center;
      gap: get-vw-mobile(20px);
      @include tr;
    }
    &__light {
      position: absolute;
      left: get-vw-mobile(4px);
      top: get-vw-mobile(4px);
      z-index: 3;
      @include tr;
      &_mobile {
        display: block;
      }
      &_desktop {
        display: none;
      }
      svg {
        width: get-vw-mobile(25px);
        height: get-vw-mobile(12px);
        path {
          stroke: #fdfeff;
        }
      }
    }

    &:active,
    &.active {
      &:before {
        background: #2b69ff;
      }
      &:after {
        background: #2153cb;
      }
      .btn-rating__light svg path {
        stroke: #4e82ff;
      }
      color: #fff;
    }
    @media screen and (min-width: $breakpoint-mobile) {
      // background-image: url(../img/btn-left-desktop.png);
      // background-size: contain;
      // height:58px;
      width: get-vw(176px);
      // gap: 20px;
      font-size: get-vw(16px);
      font-weight: 700;
      padding-left: get-vw(10px);
      height: get-vw(64px);
      flex-direction: row;
      gap: get-vw(8px);
      padding-left: get-vw(32px);
      .btn-rating__text {
        gap: get-vw(8px);
      }
      &:before {
        height: get-vw(60px);
        width: get-vw(176px);
        // clip-path: path(
        //   'M0 12C0 5.37258 5.37258 0 12 0H162.799C172.338 0 178.064 10.5929 172.838 18.5737L149.266 54.5737C147.048 57.9597 143.274 60 139.226 60H12C5.37258 60 0 54.6274 0 48V12Z'
        // );
        clip-path: url(#btn-rating);
        background: #dee5ee;
      }
      &:after {
        content: '';
        display: block;
        height: get-vw(60px);
        width: get-vw(176px);
        // clip-path: path(
        //   'M0 12C0 5.37258 5.37258 0 12 0H162.799C172.338 0 178.064 10.5929 172.838 18.5737L149.266 54.5737C147.048 57.9597 143.274 60 139.226 60H12C5.37258 60 0 54.6274 0 48V12Z'
        // );
        clip-path: url(#btn-rating);
        background: #a4c0d2;
        position: absolute;
        left: 0;
        top: get-vw(4px);
        z-index: 7;
        @include tr;
        z-index: 1;
      }
      &__light {
        position: absolute;
        left: get-vw(6px);
        top: get-vw(6px);
        z-index: 3;
        @include tr;
        &_mobile {
          display: none;
        }
        &_desktop {
          display: block;
        }
        svg {
          width: get-vw(25px);
          height: get-vw(12px);
          path {
            stroke: #e7eef7;
          }
        }
      }
      .icon {
        background: none;
        width: auto;
        height: auto;
        span {
          background: none;
          &:after {
            display: none;
          }
        }
        &:after {
          display: none;
        }
      }
      &:hover {
        &:before,
        .btn-rating__text,
        .btn-rating__light {
          transform: translate3d(0px, -2px, 0);
        }
        // &:after {
        //   top: 6px;
        // }
      }
    }
  }
  &-rules {
    height: get-vw-mobile(58px);
    width: get-vw-mobile(190px);
    gap: get-vw-mobile(20px);
    font-size: get-vw-mobile(16px);
    color: #13265a;
    font-weight: 700;
    padding-right: get-vw-mobile(10px);
    margin-left: get-vw-mobile(-27px);
    background-size: contain;
    @include tr;
    position: relative;
    justify-content: flex-end;
    &:before {
      content: '';
      display: block;
      height: get-vw-mobile(58px);
      width: get-vw-mobile(179px);
      // clip-path: path(
      //   'M179 45.9999C179 52.075 174.075 56.9999 168 56.9999L12.1454 57C3.41133 57 -1.83911 47.3106 2.93002 39.9935L25.0908 5.99355C27.1211 2.87848 30.5878 1 34.3061 1L168 1.00001C174.075 1.00001 179 5.92488 179 12L179 45.9999Z'
      // );
      clip-path: url(#btn-rules);

      background: #f2f3f7;
      position: absolute;
      right: 0;
      top: 0px;
      z-index: 7;
      @include tr;
      z-index: 2;
    }

    &__text {
      position: relative;
      z-index: 3;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: get-vw-mobile(20px);
      @include tr;
    }
    &__light {
      position: absolute;
      left: get-vw-mobile(36px);
      top: get-vw-mobile(4px);
      z-index: 3;
      @include tr;
      &_mobile {
        display: block;
      }
      &_desktop {
        display: none;
      }
      svg {
        width: get-vw-mobile(45px);
        height: get-vw-mobile(12px);
        path {
          stroke: #fdfeff;
        }
      }
    }
    &:active,
    &.active {
      // background-image: url(../img/btn-right-desktop-active.png);
      &:before {
        background: #2b69ff;
      }
      &:after {
        background: #2153cb;
      }
      .btn-rules__light svg path {
        stroke: #4e82ff;
      }
      // background: #2b69ff;
      color: #fff;
    }
    @media screen and (min-width: $breakpoint-mobile) {
      // background-image: url(../img/btn-right-desktop.png);
      height: get-vw(64px);
      width: get-vw(176px);
      font-size: get-vw(16px);
      padding-right: get-vw(32px);
      margin-left: get-vw(-5px);
      font-weight: 700;
      // clip-path: path(
      //   'M176 47.9999C176 54.6273 170.627 59.9999 164 59.9999L12.44 60C3.05956 60 -2.69383 49.7206 2.21138 41.7249L24.2966 5.72497C26.4788 2.16796 30.3522 2.20038e-06 34.5252 2.57452e-06L164 1.41829e-05C170.627 1.47771e-05 176 5.3726 176 12L176 47.9999Z'
      // );
      // background: #dee5ee;

      .btn-rules__text {
        flex-direction: row;
        gap: get-vw(8px);
      }
      &__light {
        position: absolute;
        left: get-vw(22px);
        top: get-vw(6px);
        z-index: 3;
        @include tr;
        svg {
          width: get-vw(45px);
          height: get-vw(12px);
          path {
            stroke: #e7eef7;
          }
        }
      }
      &:before {
        height: get-vw(60px);
        width: get-vw(178px);
        // clip-path: path(
        //   'M176 47.9999C176 54.6273 170.627 59.9999 164 59.9999L12.44 60C3.05956 60 -2.69383 49.7206 2.21138 41.7249L24.2966 5.72497C26.4788 2.16796 30.3522 2.20038e-06 34.5252 2.57452e-06L164 1.41829e-05C170.627 1.47771e-05 176 5.3726 176 12L176 47.9999Z'
        // );
        clip-path: url(#btn-rules);
        background: #dee5ee;
      }
      &:after {
        content: '';
        display: block;
        height: get-vw(60px);
        width: get-vw(176px);
        // clip-path: path(
        //   'M176 47.9999C176 54.6273 170.627 59.9999 164 59.9999L12.44 60C3.05956 60 -2.69383 49.7206 2.21138 41.7249L24.2966 5.72497C26.4788 2.16796 30.3522 2.20038e-06 34.5252 2.57452e-06L164 1.41829e-05C170.627 1.47771e-05 176 5.3726 176 12L176 47.9999Z'
        // );
        clip-path: url(#btn-rules);
        background: #a4c0d2;
        position: absolute;
        right: 0;
        top: get-vw(4px);
        z-index: 7;
        @include tr;
        z-index: 1;
      }
      .icon {
        background: none;
        width: auto;
        height: auto;
        span {
          background: none;
          &:after {
            display: none;
          }
        }
        &:after {
          display: none;
        }
      }
      &:hover {
        &:before,
        .btn-rules__text,
        .btn-rules__light {
          transform: translate3d(0px, -2px, 0);
        }
        // &:after {
        //   top: get-vw(6px);
        // }
      }
    }
  }
  &-blue {
    width: get-vw(228px);
    height: get-vw(64px);
    flex: none;
    @include tr;
    border-radius: get-vw(8px);
    background: #2153cb;

    .gradient {
      background: linear-gradient(to bottom, #8b9ef4, #4e7af6, #2e6afd);
      transform: translate3d(0px, get-vw(-4px), 0);
      width: 100%;
      height: get-vw(62px);
      padding: get-vw(2px);
      border-radius: get-vw(8px);
      @include tr;
      position: relative;
      &:before {
        content: '';
        width: get-vw(51px);
        height: get-vw(13px);
        background: url(../img/light1.svg) left top no-repeat;
        position: absolute;
        z-index: 3;
        top: get-vw(6px);
        left: get-vw(6px);
      }
      &:after {
        content: '';
        width: get-vw(21px);
        height: get-vw(6px);
        background: url(../img/light2.svg) left top no-repeat;

        position: absolute;
        z-index: 3;
        top: get-vw(6px);
        left: get-vw(73px);
      }

      span {
        font-size: get-vw(16px);
        color: #fff;
        @include flexcc;
        font-weight: 700;
        line-height: 130%;
        width: 100%;
        height: 100%;
        border-radius: get-vw(8px);
        background: $color-primary;
        position: relative;
        &:before {
          content: '';
          width: get-vw(10px);
          height: get-vw(6px);
          background: url(../img/light3.svg) left top no-repeat;
          position: absolute;
          z-index: 3;
          top: get-vw(4px);
          left: get-vw(96px);
        }
      }
    }
    &:hover {
      .gradient {
        transform: translate3d(0px, get-vw(-6px), 0);
      }
    }
    &:active,
    &.active {
      .gradient {
        transform: translate3d(0px, get-vw(-4px), 0);
      }
      // background: $color-primary;
      // box-shadow: 0px get-vw(4px) 0px 0px #2153cb;
    }
    &.disabled {
      opacity: 0.4;
    }
    @media screen and (max-width: $breakpoint-mobile) {
      display: none;
    }
  }
  &-plus {
    width: 16px;
    height: 16px;
    position: relative;
    @include tr;
    border-radius: 50%;
    @include flexcc;
    background: #2153cb;
    .gradient {
      width: 16px;
      height: 16px;
      @include flexcc;
      padding: 2px;
      background: linear-gradient(to bottom, #8b9ef4, #4e7af6, #2e6afd);
      border-radius: 50%;
      transform: translate3d(-2px, -2px, 0);
      @include tr;
      svg {
        width: 12px;
        height: 12px;
        background: $color-primary;
        border-radius: 50%;
      }
    }
    &:hover .gradient {
      transform: translate3d(-3px, -3px, 0);
    }
    &.disabled {
      opacity: 0.4;
    }
  }
  &-hamburger {
    width: get-vw-mobile(48px);
    height: get-vw-mobile(48px);
    border-radius: get-vw-mobile(8px);
    background: #2153cb;
    &__gradient {
      background: linear-gradient(to bottom, #8b9ef4, #4e7af6, #2e6afd);
      transform: translate3d(0px, get-vw-mobile(-4px), 0);
      width: 100%;
      height: get-vw-mobile(48px);
      padding: get-vw-mobile(2px);
      border-radius: get-vw-mobile(8px);
      @include tr;
      position: relative;
    }
    &__inner {
      @include flexcc;
      width: 100%;
      height: 100%;
      border-radius: get-vw-mobile(8px);

      background: $color-primary;
      position: relative;

      &:before {
        content: '';
        display: block;
        width: get-vw-mobile(14px);
        height: get-vw-mobile(16px);
        background: url(../img/light-hamburger.svg) left top no-repeat;
        background-size: contain;
        left: get-vw-mobile(3px);
        top: get-vw-mobile(3px);
        position: absolute;
        z-index: 3;
      }
    }
    &__icon {
      display: flex;
      flex-direction: column;
      gap: get-vw-mobile(3px);
    }
    &__line1 {
      display: block;
      height: get-vw-mobile(3px);
      background: #fff;
      border-radius: get-vw-mobile(1.5px);
      width: get-vw-mobile(16px);
    }
    &__line2 {
      display: block;
      height: get-vw-mobile(3px);
      background: #fff;
      border-radius: get-vw-mobile(1.5px);
      width: get-vw-mobile(20px);
    }
    &__line3 {
      display: block;
      height: get-vw-mobile(3px);
      background: #fff;
      border-radius: get-vw-mobile(1.5px);
      width: get-vw-mobile(14px);
    }
    @media screen and (min-width: $breakpoint-mobile) {
      display: none;
    }
  }
}
