.btn {
  display: inline-flex;
  background: none;
  @include tr;
  cursor: pointer;
  white-space: nowrap;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
  &-training {
    width: 185px;
    height: 58px;
    background: url(../img/btn-training.svg) left center no-repeat;
    background-size: contain;
    font-size: 18px;
    font-weight: 700;
    color: #415868;
    padding-left: 30px;
  }
  &-start {
    width: 185px;
    height: 58px;
    background: url(../img/btn-start.svg) left center no-repeat;
    margin-left: -27px;
    background-size: contain;
    font-size: 18px;
    font-weight: 700;
    color: #415868;
    justify-content: flex-end;
    padding-right: 57px;
  }

  &-left {
    background: url(../img/btn-left.svg) left center no-repeat;
    height: 58px;
    width: 185px;
    gap: 20px;
    font-size: 16px;
    color: #13265a;
    font-weight: 500;
    padding-left: 10px;
    background-size: contain;
    @include tr;
    @media screen and (min-width: $breakpoint-mobile) {
      background: url(../img/btn-left-desktop.svg) left center no-repeat;
      height: 64px;
      height: 66px;
      flex-direction: row;
      gap: 8px;
      padding-left: 32px;
      .icon {
        background: none;
        width: auto;
        height: auto;
      }
      &:hover {
        background: url(../img/btn-left-desktop-hover.svg) left center no-repeat;
      }
    }
  }
  &-right {
    background: url(../img/btn-right.svg) right center no-repeat;
    height: 58px;
    width: 185px;
    gap: 20px;
    font-size: 16px;
    color: #13265a;
    font-weight: 500;
    flex-direction: row-reverse;
    padding-right: 10px;
    margin-left: -27px;
    background-size: contain;
    // @include tr;
    @media screen and (min-width: $breakpoint-mobile) {
      background: url(../img/btn-right-desktop.svg) left center no-repeat;
      height: 64px;
      height: 66px;
      flex-direction: row;
      gap: 8px;
      padding-left: 58px;
      .icon {
        background: none;
        width: auto;
        height: auto;
      }
      &:hover {
        background: url(../img/btn-right-desktop-hover.svg) left center
          no-repeat;
      }
      &:active {
        background: url(../img/btn-right-desktop-active.svg) left center
          no-repeat;
        color: #fff;
      }
    }
  }
}
