.footer {
  display: none;
  @media screen and (min-width: $breakpoint-mobile) {
    font-size: get-vw(14px);
    font-weight: 500;
    color: rgba(24, 28, 39, 0.5);
    line-height: 140%;
    display: block;
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__menu {
      @include ul-clean;
      display: flex;
      gap: get-vw(32px);
    }
  }
}
