.game-block {
  min-height: 303px;
  display: flex;
  align-items: flex-end;
  background: url(../img/bg-game-mobile.jpg) center no-repeat;
  background-size: cover;
  margin-top: 16px;
  border-radius: 16px;
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
