.game-block {
  min-height: 303px;
  display: flex;
  align-items: flex-end;
  background: url(../img/bg-game-mobile.jpg) center no-repeat;
  background-size: cover;
  margin-top: 16px;
  border-radius: 16px;
  @media screen and (min-width: $breakpoint-mobile) {
    background: url(../img/bg-game.jpg) center no-repeat;
    padding-bottom: 24px;
    min-height: 424px;
    margin-top: 20px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media screen and (min-width: $breakpoint-mobile) {
      max-width: 344px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
