.header {
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: get-vw(15px);
    border-radius: get-vw(12px);
    background: #f2f3f7;
    box-shadow: 2px 3px 0px 0px #b9c8dc;
    padding: 8px 8px 8px 12px;
    @media screen and (max-width: $breakpoint-mobile) {
      gap: 15px;
      border-radius: 12px;
    }
    &:before {
      content: '';
      width: 96px;
      height: 25px;
      background: url(../img/header-glare.svg);
      background-size: contain;
      position: absolute;
      top: 2px;
      left: 3px;
      display: block;
      @media screen and (min-width: $breakpoint-mobile) {
        display: none;
      }
    }
    @media screen and (min-width: $breakpoint-mobile) {
      border-radius: 16px;
      padding: get-vw(25px) get-vw(20px);
    }
  }
  &__title {
    font-size: get-vw(24px);
    font-weight: 600;
    line-height: 130%;
    @media screen and (max-width: $breakpoint-mobile) {
      display: none;
    }
  }

  @media screen and (min-width: $breakpoint-mobile) {
    .logo {
      display: none;
    }
  }
}

.header-wallet {
  display: flex;
  align-items: center;
  gap: get-vw(16px);
  @media screen and (max-width: $breakpoint-mobile) {
    gap: 16px;
  }
  &__title {
    font-size: get-vw(14px);
    font-weight: 500;
    line-height: 140%;
    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 14px;
    }
  }
  &__desc {
    display: flex;
    align-items: center;
    gap: get-vw(4px);
    @media screen and (max-width: $breakpoint-mobile) {
      gap: 4px;
    }
  }

  &__value {
    font-size: get-vw(18px);
    font-weight: 700;
    line-height: 130%;
    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 18px;
    }
  }
  @media screen and (max-width: $breakpoint-mobile) {
    &__icon {
      display: none;
    }
  }
}

.svg-token {
  display: flex;
  width: get-vw(16px);
  height: get-vw(16px);
  background: url(../img/token.svg);
  background-size: contain;
  @media screen and (max-width: $breakpoint-mobile) {
    width: 16px;
    height: 16px;
  }
}

.header-tokens {
  display: flex;
  align-items: center;
  gap: get-vw(16px);
  @media screen and (max-width: $breakpoint-mobile) {
    gap: 16px;
  }
  &__title {
    font-size: get-vw(14px);
    font-weight: 500;
    line-height: 140%;
    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 14px;
    }
  }
  &__value {
    font-size: get-vw(18px);
    font-weight: 700;
    line-height: 130%;
    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 18px;
    }
  }
  &__text {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &__plus {
    margin-left: 6px;
    @media screen and (min-width: $breakpoint-mobile) {
      display: none;
    }
  }
  &__question {
    width: get-vw(18px);
    height: get-vw(18px);
    @media screen and (max-width: $breakpoint-mobile) {
      margin-left: auto;
      width: 18px;
      height: 18px;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
  @media screen and (max-width: $breakpoint-mobile) {
    &__icon {
      display: none;
    }
  }
}

.header-btn-hamburger {
  display: none;
  @media screen and (max-width: $breakpoint-mobile) {
    @include flexcc;
    width: 48px;
    height: 44px;
    background-image: url(../img/hamburger-full.svg);
    background-repeat: no-repeat;
    background-position: top center;
    filter: drop-shadow(0px 4px 0px #2153cb);
    border-radius: 8px;
  }
}
