.icon {
  // @include wh(38px);
  width: get-vw-mobile(38px);
  height: get-vw-mobile(38px);
  background: #a4c0d2;
  border-radius: get-vw-mobile(8px);
  padding: 0;
  @include flexcc;
  line-height: 0;
  span {
    background: #dee5ee;
    border-radius: get-vw-mobile(8px);
    width: 100%;
    height: 100%;
    transform: translate3d(get-vw-mobile(-2px), get-vw-mobile(-3px), 0);
    position: relative;
    @include flexcc;
    &:after {
      content: '';
      display: block;
      width: get-vw-mobile(14px);
      height: get-vw-mobile(16px);
      background: url(../img/light4.svg) left top no-repeat;
      left: get-vw-mobile(3px);
      top: get-vw-mobile(3px);
      position: absolute;
      z-index: 3;
    }
    &:before {
      content: '';
      width: get-vw-mobile(20px);
      height: get-vw-mobile(20px);
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  @media screen and (min-width: $breakpoint-mobile) {
    width: get-vw(50px);
    height: get-vw(50px);
    border-radius: get-vw(8px);
    span {
      border-radius: get-vw(8px);
      transform: translate3d(get-vw(-2px), get-vw(-3px), 0);
      &:after {
        width: get-vw(14px);
        height: get-vw(16px);
        left: get-vw(3px);
        top: get-vw(3px);
      }
      &:before {
        width: get-vw(26px);
        height: get-vw(26px);
      }
    }
  }

  &_rating span:before {
    background-image: url(../img/icons/icon-rating.png);
    @include tr;
  }
  &_rules span:before {
    background-image: url(../img/icons/icon-rules.png);
    @include tr;
  }
  &_wallet span:before {
    background-image: url(../img/icons/icon-wallet.png);
    @include tr;
  }
  &_reward span:before {
    background-image: url(../img/icons/icon-reward.png);
    @include tr;
  }
  &_evaluation span:before {
    background-image: url(../img/icons/icon-evaluation.png);
    @include tr;
  }
  &_flag span:before {
    background-image: url(../img/icons/icon-flag.png);
    @include tr;
  }
  &_dumbbell span:before {
    background-image: url(../img/icons/icon-dumbbell.png);
    @include tr;
  }
  &_coins span:before {
    background-image: url(../img/icons/icon-coins.png);
    @include tr;
  }
  &_info span:before {
    background-image: url(../img/icons/icon-info.png);
    @include tr;
  }
  &_logout span:before {
    background-image: url(../img/icons/icon-logout.svg);
    @include tr;
  }
  &_tokens span:before {
    background-image: url(../img/icons/icon-tokens.png);
    @include tr;
  }
  &_medal span:before {
    background-image: url(../img/icons/icon-medal.png);
    @include tr;
  }
  &_timer span:before {
    background-image: url(../img/icons/icon-timer.png);
    @include tr;
  }
  &_online span:before {
    background-image: url(../img/icons/icon-online.png);
    @include tr;
  }
}

.icon-theme {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  padding: 2px;
  // background: linear-gradient(to bottom, #d6e0e6, #d6e1e8 0%, #f4fbff);
  background: linear-gradient(to bottom, #e1e9f1, #dee5ee, #dae2ea);

  span {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background: #dee5ee;
    @include flexcc;
    &:before {
      content: '';
      width: 18px;
      height: 18px;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &_light span:before {
    background-image: url(../img/icons/icon-light-theme.png);
    @include tr;
  }
  &_dark span:before {
    background-image: url(../img/icons/icon-dark-theme.png);
    @include tr;
  }
  &.active {
    background: linear-gradient(to right, #8fa0f4, #527df6, #306bfd);
    span {
      background: #2b69ff;
    }
  }
  @media screen and (min-width: $breakpoint-mobile) {
    width: get-vw(42px);
    height: get-vw(42px);
    border-radius: get-vw(8px);
    padding: get-vw(2px);
    span {
      border-radius: get-vw(8px);
      &:before {
        width: get-vw(18px);
        height: get-vw(18px);
      }
    }
  }
}

.icon-timer {
  // @include wh(48px);
  width: get-vw-mobile(48px);
  height: get-vw-mobile(48px);
  background: linear-gradient(to bottom, #f5f7fb, #f1f3f7, #e7ebf1);
  border-radius: get-vw-mobile(12px);
  padding: 0;
  @include flexcc;
  padding: get-vw-mobile(2px);
  line-height: 0;
  font-weight: 700;
  font-size: get-vw-mobile(32px);
  span {
    background: #f2f3f7;
    border-radius: get-vw-mobile(12px);
    width: 100%;
    height: 100%;
    position: relative;
    @include flexcc;
    &:after {
      content: '';
      display: block;
      width: get-vw-mobile(14px);
      height: get-vw-mobile(16px);
      background: url(../img/light5.svg) left top no-repeat;
      left: get-vw-mobile(3px);
      top: get-vw-mobile(3px);
      position: absolute;
      z-index: 3;
    }
  }
  @media screen and (min-width: $breakpoint-mobile) {
    width: get-vw(50px);
    height: get-vw(50px);
    border-radius: get-vw(8px);
    font-size: get-vw(24px);
    box-shadow: 0px get-vw(4px) 0px 0px #b9c8dc;
    padding: get-vw(2px);
    background: #dee5ee;
    span {
      // border-radius: get-vw(8px);
      background: none;
      &:after {
        width: get-vw(14px);
        height: get-vw(16px);
        left: get-vw(3px);
        top: get-vw(3px);
      }
    }
  }
}
