.logo {
  svg {
    @include wh(40px);
    @media screen and (min-width: $breakpoint-mobile) {
      @include wh(50px);
    }
  }
}
.main {
  &__columns {
    @media screen and (min-width: $breakpoint-mobile) {
      display: grid;
      grid-template-columns: auto 384px;
      gap: 31px;
    }
  }
}
