@mixin tr {
  transition: all 0.25s ease;
}
@mixin ul-clean {
  padding: 0;
  margin: 0;
  list-style: none;
}
@mixin flexcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

// @mixin wh($size) {
//   width: $size;
//   height: $size;
// }
@mixin filter-to-white {
  filter: brightness(0) invert(1);
}

$max-breakpoint-desktop: 1920;

@function get-vw($target) {
  // $vw-context: ($max-breakpoint-desktop * 0.01) * 1px;
  // @return calc($target / $vw-context) * 1vw;
  @return $target;
}

$max-breakpoint-mobile: 375;

@function get-vw-mobile($target) {
  $vw-context: ($max-breakpoint-mobile * 0.01) * 1px;
  @return calc($target / $vw-context) * 1vw;
}
