@mixin tr {
  transition: all 0.25s ease;
}
@mixin ul-clean {
  padding: 0;
  margin: 0;
  list-style: none;
}
@mixin flexcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin wh($size) {
  width: $size;
  height: $size;
}
@mixin filter-to-white {
  filter: brightness(0) invert(1);
}

@function get-vw($target) {
  $vw-context: ($responsible-width * 0.01) * 1px;
  @return calc($target/$vw-context) * 1vw;
}
