.sidebar {
  // background: url(../img/bg-sidebar.svg) top center no-repeat;
  background: #f2f3f7;
  border-radius: get-vw(16px);
  // border: get-vw(2px) solid #e5e9f1;
  clip-path: url(#sidebar-bg);
  padding: get-vw(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: get-vw(20px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    display: none;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: get-vw(16px);
    &:hover {
      button span:before {
        filter: grayscale(100%);
      }
      button:hover span:before {
        filter: grayscale(0%);
      }
    }
  }
  &__themes {
    width: get-vw(50px);
    border-radius: get-vw(12px);
    padding: get-vw(2px);
    box-shadow: 0px get-vw(4px) 0px 0px #b9c8dc;
    background: linear-gradient(to right, #e6eaf1, #e5e6eb, #f4f6fa);
    &-inner {
      display: flex;
      flex-direction: column;
      gap: get-vw(4px);
      background: #f2f3f7;
      padding: get-vw(2px);
      border-radius: get-vw(12px);
    }
  }
}
