.statistics {
  background: url(../img/bg-statistic.png) center top no-repeat;
  background-size: cover;
  padding: get-vw(35px) get-vw(12px) get-vw(28px) get-vw(12px);
  // margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: get-vw(14px);
  row-gap: get-vw(11px);
  aspect-ratio: 343/160;
  @media screen and (min-width: $breakpoint-mobile) {
    background: url(../img/bg-statistic-desktop.png) center top no-repeat;
    display: flex;
    justify-content: space-between;
    aspect-ratio: auto;
    gap: get-vw(35px);
    padding: get-vw(32px);
  }

  &-info {
    display: flex;
    align-items: center;
    gap: get-vw(12px);
    @media screen and (min-width: $breakpoint-mobile) {
      gap: get-vw(16px);
    }
    &__icon {
      flex: none;
    }
    &__desc {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 2px;
    }
    &__name {
      font-size: get-vw(12px);
      font-weight: 500;
      line-height: 140%;
      color: rgba(24, 28, 39, 0.5);
      @media screen and (min-width: $breakpoint-mobile) {
        font-size: get-vw(14px);
      }
    }
    &__value {
      font-size: get-vw(18px);
      font-weight: 500;
      line-height: 140%;
      @media screen and (min-width: $breakpoint-mobile) {
        font-weight: 600;
      }
    }
  }
}
