.statistics {
  background: url(../img/bg-statistic.png) center top no-repeat;
  padding: 35px 12px 28px 12px;
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 14px;
  row-gap: 11px;

  &-info {
    display: flex;
    align-items: center;
    gap: 12px;
    &__icon {
      flex: none;
    }
    &__desc {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 2px;
    }
    &__name {
      font-size: 12px;
      font-weight: 500;
      line-height: 140%;
      color: rgba(24, 28, 39, 0.5);
    }
    &__value {
      font-size: 18px;
      font-weight: 500;
      line-height: 140%;
    }
  }
}
