.tournament {
  &-inner {
    @media screen and (min-width: $breakpoint-mobile) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding-left: get-vw(33px);
      padding-right: get-vw(128px);
      padding-top: get-vw(34px);
      padding-top: get-vw(22px);
      padding-bottom: get-vw(33px);
      background: url(../img/bg-prize-desktop.png) top center no-repeat;
      background-size: cover;
      border-radius: get-vw(16px);
      align-items: center;
    }
  }
}
.tournament-time {
  // margin-top: get-vw-mobile(16px);
  display: flex;
  flex-direction: column;
  gap: get-vw-mobile(8px);
  @media screen and (min-width: $breakpoint-mobile) {
    margin-top: 0px;
    gap: get-vw(8px);
  }
  &__till-the-end {
    color: rgba(24, 28, 39, 0.5);
    font-size: get-vw-mobile(14px);
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    @media screen and (min-width: $breakpoint-mobile) {
      color: #181c27;
      font-size: get-vw(18px);
      font-weight: 600;
      text-align: center;
    }
  }
}
.tournament-timer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: get-vw-mobile(5px);
  @media screen and (min-width: $breakpoint-mobile) {
    gap: get-vw(5px);
  }
  &__couple {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: get-vw-mobile(4px);
    flex-direction: column;
    // flex-wrap: wrap;
    // max-width: 100px;
    max-width: get-vw-mobile(104px);
    @media screen and (min-width: $breakpoint-mobile) {
      row-gap: get-vw(8px);
      max-width: get-vw(100px);
      max-width: get-vw(104px);
    }
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: get-vw-mobile(4px);
      @media screen and (min-width: $breakpoint-mobile) {
        gap: get-vw(4px);
      }
    }
  }

  &__count {
    // @include flexcc;
    // font-size: get-vw(32px);
    // font-weight: 700;
    // font-size: 32px;
    // width: 48px;
    // height: 48px;
    // font-weight: 700;
    // background-image: url(../img/bg-count.svg);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: contain;

    // @media screen and (min-width: $breakpoint-mobile) {
    //   font-size: get-vw(24px);
    //   .icon {
    //     width: auto;
    //     height: auto;
    //     background: none;
    //   }
    // }
  }
  &__text {
    width: 100%;
    text-align: center;
    font-size: get-vw-mobile(12px);
    font-weight: 500;
    line-height: 140%;
    color: rgba(24, 28, 39, 0.5);
    @media screen and (min-width: $breakpoint-mobile) {
      font-size: get-vw(14px);
    }
  }
  &__divider {
    display: flex;
    flex-direction: column;
    gap: get-vw-mobile(6px);
    padding-top: get-vw-mobile(14px);
    @media screen and (min-width: $breakpoint-mobile) {
      gap: get-vw(6px);
      padding-top: get-vw(14px);
    }
    span {
      width: get-vw-mobile(8px);
      height: get-vw-mobile(8px);
      border-radius: get-vw-mobile(12px);
      background: #f2f3f7;
      @media screen and (min-width: $breakpoint-mobile) {
        width: get-vw(8px);
        height: get-vw(8px);
        border-radius: get-vw(12px);
      }
    }
  }
}

.tournament-prize {
  min-height: get-vw-mobile(98px);
  margin-top: get-vw-mobile(16px);
  gap: get-vw-mobile(4px);
  background: url(../img/bg-prize.png) top center no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  aspect-ratio: 7 /2;
  @media screen and (min-width: $breakpoint-mobile) {
    min-height: get-vw(98px);
    margin-top: get-vw(16px);
    gap: get-vw(4px);
    align-items: flex-start;
    background: none;
    aspect-ratio: auto;
  }
  &__title {
    color: rgba(24, 28, 39, 0.5);
    font-size: get-vw-mobile(14px);
    font-weight: 500;
    line-height: 140%;
    @media screen and (min-width: $breakpoint-mobile) {
      color: #181c27;
      font-size: get-vw(18px);
      font-weight: 600;
    }
  }
  &__subtitle {
    display: none;
    @media screen and (min-width: $breakpoint-mobile) {
      font-size: get-vw(16px);
      color: rgba(24, 28, 39, 0.5);
      display: block;
      font-weight: 500;
      line-height: 140%;
    }
  }
  &__text {
    font-size: get-vw-mobile(32px);
    font-weight: 700;
    line-height: 140%;
    display: flex;
    align-items: center;
    gap: get-vw-mobile(8px);
    @media screen and (min-width: $breakpoint-mobile) {
      font-size: get-vw(48px);
      font-weight: 600;
      gap: get-vw(8px);
      .svg-token {
        width: get-vw(24px);
        height: get-vw(24px);
      }
    }
  }
}
