$responsible-width: 1920;

$breakpoint-tablet: 992px;
$breakpoint-mobile: 767px;

$font: 'Gilroy';

$bg-body: #fff;

$color-text: #181c27;

$color-border-light: #ffffff;

$color-border-dark: #303030;

$color-primary: #c31e54;
