mixin svg(name)
	svg&attributes(attributes)
		use(xlink:href=`./img/sprite.svg#${name}`)
mixin svg-training(name)
	svg&attributes(attributes)
		use(xlink:href=`./img/sprite-training.svg#${name}`)
mixin svg-start(name)
	svg&attributes(attributes)
		use(xlink:href=`./img/sprite-start.svg#${name}`)
mixin svg-rating(name)
	svg&attributes(attributes)
		use(xlink:href=`./img/sprite-rating.svg#${name}`)

